.container {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: inherit;
}

.btn_container {
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100px;

    background-color: #fff;
    border-top: 2px solid #cecece;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: 0 30px;
    padding: 15px;

    border: none;
    border-radius: 100%;
    box-shadow: 0px 2px 5px 3px #00000034;
    background-color: inherit;

    cursor: pointer;
}

.btn:hover {
    background-color: rgb(241, 241, 241);
}

.btn_favorite {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 10px;

    border: none;
    border-radius: 100%;
    box-shadow: 0px 2px 5px 3px #00000034;
    background-color: inherit;

    cursor: pointer;
}

.btn_favorite:hover {
    background-color: rgb(241, 241, 241);
}
