.desktop_container {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.mobile_view_container {
    height: 812px;
    width: 375px;
    overflow: hidden;
}
