.list {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;

    height: 100%;
    width: 100%;
    max-width: inherit;
    margin-top: 128px;
    padding-bottom: 140px;

    background-color: #dddddd;
    overflow-y: scroll;
}

.cocktail {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    margin-top: 10px;

    text-align: left;

    background-color: #fff;
    border: none;
    border-bottom: 2px solid #cecece;

    cursor: pointer;
}

.thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    min-width: 80px;
    margin-right: 28px;

    border-radius: 100%;
    background: linear-gradient(125deg, #f03a3a, #9198e5);
}

.thumbnail_image {
    height: auto;
    width: calc(100% - 6px);

    border-radius: 100%;
}

.info_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.name {
    margin-bottom: 4px;

    font-size: 20px;

    color: #2e2e2e;
}

.category {
    font-size: 14px;

    color: #2e2e2edc;
}

.empty_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 128px;
    width: 100%;

    font-family: 'Gothic A1', sans-serif;
    text-align: center;
}

.empty_text {
    max-width: 200px;
}

.empty_header {
    margin: 15px 0;

    color: #333;
    font-weight: 600;
    font-size: 28px;
}

.empty_subtext {
    color: #717171;
    font-weight: 400;
    font-size: 18px;
}
