.container {
    position: relative;
    height: 100%;
    max-width: 500px;
}

@media only screen and (max-width: 1000px) {
    .container {
        position: relative;
        /* Height fallback if custom variables are not supported */
        height: 100vh;
        /* Variable height for correct mobile sizing */
        height: calc(var(--vh, 1vh) * 100);
        max-width: 500px;
    }
}
