.toggle {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: inherit;
    padding: 60px 0 20px 0;

    background-color: #fff;
    border-bottom: 2px solid #cecece;
}

.btn {
    display: flex;
    padding: 3px;

    border: none;
    border-radius: 20px;
    background-color: #aeaeae;
    box-shadow: 0px 2px 5px 3px #00000034;

    cursor: pointer;
}

.btn > div {
    display: flex;
    justify-content: center;
    padding: 7px 0;

    border-radius: 20px;
}

.btn_on {
    width: 65px;

    background-color: #fff;
}

.btn_off {
    width: 65px;
}
