.toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    max-width: inherit;
    width: 100%;
    padding: 60px 0 20px 0;
    background-color: #fff;
    border-bottom: 2px solid #cecece;
    z-index: 10;
}

.toggle__btn {
    display: flex;
    border: none;
    background-color: #aeaeae;
    box-shadow: 0px 2px 5px 3px #00000034;
    padding: 3px;
    border-radius: 20px;
    cursor: pointer;
}

.toggle__btn > div {
    display: flex;
    justify-content: center;
    padding: 7px;
    border-radius: 20px;
}

.toggle__btn__on {
    width: 70px;
    background-color: #fff;
}

.toggle__btn__off {
    width: 70px;
}
