* {
    box-sizing: border-box;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    /* Height fallback if custom variables are not supported */
    height: 100vh;
    /* Variable height for correct mobile sizing */
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    background-color: #f3f3f3;
    font-family: 'Gothic A1', sans-serif;
}
