* {
    box-sizing: border-box;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #cfcfcf;
    font-family: 'Gothic A1', sans-serif;
}
